.container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
    margin-right: 900px;
    margin-left: auto;

}

#title1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;

}